<% include ./partials/header %>

<div class="container">
<h1 class="about">About SellText</h1>
        </div>
        <div style="margin-top: 10px; border-bottom: 1.5px solid #F0ECEC; "></div>
  
  <div class="container">
<div class="row">
  
          <div style="margin-top: 20px; margin-left: 1%; margin-right: 2%;">
              
              
              <p style="font-family: 'PT Serif', sans-serif; font-size: 16.5px;">SellText is an application created 
              as a way to encourage students to save money from buying overpriced textbooks at campus book stores by buying or selling used/new books to other students.</p>
              
              <p style="font-family: 'PT Serif', sans-serif; font-size: 16.5px;">Over the course of 1 year, the average college student spends more than $1,200 on books and materials.
              Since most college/university programs last 4 years, that's about $5,000
              spent on books during an average student's time in college. Keep in mind that students also have to pay for tuition and living expenses.</p>

              <p style="font-family: 'PT Serif', sans-serif; font-size: 16.5px;">The problem of overpriced textbooks is not getting any better. As a matter of fact, it is only getting worse! 
              <strong>In the past 35 years, textbook costs have skyrocketed 812%</strong> and continue to increase as you are reading this very sentence.</p>
              
          
    <h2 style="font-family: 'Raleway', sans-serif; font-weight: 550;">What can we do?</h3>
    
            <p style="font-family: 'PT Serif', sans-serif; font-size: 16.5px;">There are a few solutions we as students can impose in order to save the $5,000 we are likely to spend on textbooks during our time in college:</p>
            
            
            <p style="font-family: 'PT Serif', sans-serif; font-size: 16.5px;"><strong>Buy used books.</strong> By searching your university/college in the <strong><a href="/">home page</a></strong>
            and then searching the course or book title,
            all textbooks posted for that search will appear. If the book fits to your needs, you may contact the owner. In addition, you can also create a new post 
            indicating the book you are searching for. Someone who owns the book may come across the post. On the other hand, you have the option to purchase <strong>used</strong> books from campus
            book stores as well. </p>
            
            <p style="font-family: 'PT Serif', sans-serif; font-size: 16.5px;"><strong>Sell your books.</strong> Once you have completed the course, you are unlikely to ever open the same textbook again. So, why not sell it? To post a book,
            you must first <strong><a href="/register">create an account</a></strong>. Once you create an account, search your college/university
            in the home page, then click on "Create New Post". Fill in the details, click submit, and boom. Now all you have to do is wait for someone to contact you. It really is that
            simple.</p>
            
            <p style="font-family: 'PT Serif', sans-serif; font-size: 16.5px;"><strong>Rent textbooks.</strong> Take full advantage of renting textbooks if the option is available. Whether if it's a house,
            a car, or a book, if you are only using it for a short time; renting is almost always the better option. If you decide you want
            to keep the textbook, all you have to do is pay the difference.</p>
            
            <p style="font-family: 'PT Serif', sans-serif; font-size: 16.5px;"><strong>Download digital books.</strong> Digital books help with ease of access, 
            and are usually cheaper than physical copies. Not only will you save money, 
            but you won't have to go through the trouble of constantly carrying your textbooks everywhere. After searching for your textbook, 
            there may be a free digital book available for download. You can also visit websites such as <a href="http://gen.lib.rus.ec/">http://gen.lib.rus.ec/</a> 
            to download digital books.</p>
            
            <p style="font-family: 'PT Serif', sans-serif; font-size: 16.5px;">It is also important to note that it is not worth buying a textbook if you are not sure that you are going to need it. Many students, typically first-year students, 
            tend to purchase textbooks that they never end up using. To save the most out of the yearly average $1,200 spent on textbooks, wait until you have attended the lectures a few
            times. This way, you will ensure whether the textbook is needed or not.</p>
            
            
            <p style="font-family: 'PT Serif', sans-serif; font-size: 16.5px;">The purpose of SellText is to take a step further in the path that leads to a better life for students. Students today have it worse, financially,
            than any other time in history.</p>
</div>
</div>



<% include ./partials/footer %>