<% include ./partials/header %>

<div class="container">
<div class="row">

 <h1 style="text-align: center;">Login</h1>
 
  <div class="col-md-4 col-sm-4">
        </div>
          <div class="col-md-8 col-sm-8">



        <form action="/login" method="POST">
        
            
              <div  class="form-group col-md-6 col-lg-6 col-sm-6 ">
                <input  class="form-control" type="text" name="username" placeholder="username">
            </div>
            
              <div class="col-lg-7 col-md-7 col-sm-7">
                    </div>
            
              <div  class="form-group col-md-6 col-lg-6 col-sm-6 ">
                <input  class="form-control" type="password" name="password" placeholder="password">
            </div>
            
               <div class="col-lg-7 col-md-7 col-sm-7">
                    </div>
            
            <div  class="form-group col-md-6 col-lg-6 col-sm-6 ">
               <button class="btn btn-primary btn-block btn-lg btn-default">Log In</button>
            </div>
        
        </form>

     </div>
     
         <div style="margin-top:25px;">
         <p class="horizontalOr"><span class="orText">or</span></p>
       </div>
       
     <div style="text-align: center; margin-top:25px;">
        <a href="/register" class="btn btn-lg btn-success">Create New Account</a>
        </div>
        
         
                <div style="text-align:center; margin-top:10px;">
                <a href="/forgot">Forgot password?</a>
                 </div>
   
  </div>
</div>

   </div>
  </div>
  
  
<!-- Bottom Footer -->

<div class="container footer forgotPage" >
    <div style="margin-top: 15px; text-align:center;">
  <a class="bottom" href="/privacy">Privacy Policy</a> | <a class="bottom"  href="/terms">Terms and Conditions</a> | <a class="bottom"  href="/contact">Contact Us</a>

  <h6 style="color: gray;" >SellText <i class="far fa-copyright"></i> 2019
  </h6>
  
   <div style="text-align:center; tooltip">
   <a style="margin-right:10px;" href="http://instagram.com/_u/selltext_/"><i style="font-size:20px;" class="fab fa-instagram"></i></a>
   <a style="margin-right:10px;" href="https://twitter.com/SellText"><i style="font-size:20px;" class="fab fa-twitter"></i></a>
      <a href="mailto:admin@selltext.org"><i style="font-size:20px;" class="fas fa-envelope"></i></a>
      </div>
      
      
      </div>
</div>


<!-- Navbar -->
<script src="/javascripts/navbar/navbarActive.js"></script>
<script src="/javascripts/navbar/buttonActive.js"></script>

 <!-- jQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>



    </body>
</html>